@media screen and (max-width: 500px) 
{
	footer
	{

	}

	image .img1
	{
		width: 100% !important;
		height: 200px !important;
	}

	.textacceuil1
	{
		
		font-size: 5px;

	}

	.textacceuil2
	{
		margin-left: 2%;
		font-size: 5px;
	}
}

