@font-face{
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome.eot');
    src: url('fonts/FontAwesome.eot?iefix') format('eot'),
    url('fonts/FontAwesome.woff') format('woff'),
    url('fonts/FontAwesome.ttf') format('truetype'),
    url('fonts/FontAwesome.svg#webfont') format('svg');
}

@font-face{
    font-family: 'roboto';
    src: url('fonts/Roboto-Black.ttf');
}

@font-face{
    font-family: 'roboto-regular';
    src: url('fonts/Roboto-Regular.ttf');
}


h1
{
    text-align:center;
    margin:auto;
    padding-top: 100px;
    font-family:'roboto-regular',Arial, sans-serif;
}

.mesh1
{

}

.mesh3
{
    padding-top:50px;
    padding-bottom: 50px;
    font-size : 1.7em;
    margin: auto;
}

.titrepost
{
    text-align:center;
    margin:auto;
    background-color:lightblue;
    color:white;
    font-size:0.9em;
    border-radius : 12px;

}

.news
{
    width:50%;
    margin:auto;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;

}

.blog
{
    width: 300px;
    margin:auto;
    border: thick double black;
    padding: 50px 50px 50px 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-color: #E2884A/*#5cadd3*/;
    word-wrap: break-word;
    /*height: 100%;*/
}

.crud
{
   /* position: relative;*/
   /*border:1px solid black;*/
   border-radius: 5px;
   margin-right: 5px;
}

.crud:hover
{
    background-color: #5cadd3;
}

p
{
    /*width: 100%;
    height: 100%;*/
    font-family:'roboto-regular',Arial, sans-serif;
}

body
{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin:auto;
    width: 100%;
   /* width: 100%;
    height: 100%;*/
}

.img1
{
    width: 100%;
    /*height: 600px;*/
    height: 100%;
}

.textacceuil1
{
   margin: 100px auto 0px 26%;
}

.textacceuil2
{
    margin-left: 5%;
}

a
{
    text-decoration: none;
    color: red;
}
.newstext
{
    margin-top:0px;
}

h2
{
    margin-top: 0px;
    font-family:'roboto-regular',Arial, sans-serif;

}

header{
    position: fixed;
    width:100%;
    height: 115px;
    display: flex;
    padding:0 0 0 0;
    background-color:#fff;
}

nav
{
    position: absolute;
    height: 120px;
    right:0px;
}

header nav ul li{
    float: right;
    margin-bottom: 30px;
    position: relative;
    height: 80px;
}

header nav ul{
    display: flex;
    list-style-type:none;
    margin-top:2px;
    position: relative;
    height: 80px;
}

header nav ul li a:hover
{
    position: relative;
    border-top:2px solid #5cadd3;
    height: 70px;
    margin-top: -2px;
}



header nav ul li a{
    
    /*display:block;*/
    display: flex;
    text-decoration:none;
    padding:40px 15px 0px 15px;
    border-top:none;
    color:#777777;
    font-size: 2em;
    position: relative;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
     height: 70px;
     /*box-sizing: border-box;*/
}


form
{
    /*max-width: 1000px;*/
    /*margin: 0px auto;*/
    /*width: 100%;
    position: relative;
    /*padding: 20px 12px 10px 20px;*/
}

/*.tox-tinymce
{
    width: auto;
}*/

.tox
{
    resize:both;
   /* min-width: 400px;
   /* min-height: 250px;*/
   /* max-width: 1800px;
    /*max-height: 1000px;*/
}

textarea
{
    /*width: 300px;
    height: 350px;*/
    /*overflow: hidden;
    resize: both;*/
    /*width: auto;*/
   /*resize: both;*/
   /*width: 800px;*/
}

/*#mytextarea
{
    resize: both;
}*/

footer
{
    width: 100%;
    text-align: center;
    background-color: #E2884A/*#5cadd3*/;
    margin-top: 15%;
    height: 50px;
   /* position: relative;*/
}

.divform
{
    /*display: flex;*/
    /*margin: 100px auto 100px auto;*/
    margin:auto;
}

/*utiliser les font awesome pour supprimer ect
    responsive !!!
 */